<header class="site-header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    {% for page in site.pages %}
                    {% if page.title %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

</header>
