/**
 * Objectivetruth.ca Custom Stylings
 */

.panel-heading span {
  margin-top: -26px;
  font-size: 15px;
  margin-right: -12px;
}

.subscribe-panel-close-icon {
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

// Fix because its inheriting font-weight from the parent making everything look bold
p {
  font-weight:200;
  font-size: 18px;
  margin: 5px 0 10px;
}