---
layout: default
---
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>


    <article class="post-content">
        {{ content }}
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="josemiguelmendez"><a class="LI-simple-link" href='https://ca.linkedin.com/in/josemiguelmendez?trk=profile-badge'>J Miguel Mendez, AWS-SAA</a></div>
    </article>

</div>
